<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Your Dish</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div style="margin-top: 10px;">
      <form #form="ngForm" (ngSubmit)="addDish(form.value)">
        <ion-item>
          <ion-label position="floating">Cuisine</ion-label>
          <ion-select name="cuisine" ngModel required>
            <ion-select-option value="Breakfast">Breakfast</ion-select-option>
            <ion-select-option value="Lunch">Lunch</ion-select-option>
            <ion-select-option value="Chinese">Chinese</ion-select-option>
            <ion-select-option value="Dessert">Dessert</ion-select-option>
            <ion-select-option value="Dinner">Dinner</ion-select-option>
            <ion-select-option value="Drinks">Drinks</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Dish Name</ion-label>
          <ion-input name="dish" ngModel required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Total Time</ion-label>
          <ion-input name="time" ngModel required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Serves</ion-label>
          <ion-input name="serves" ngModel required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Ingredients</ion-label>
          <ion-textarea rows="2" auto-grow name="ingredients" ngModel required></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Directions</ion-label>
          <ion-textarea rows="2" auto-grow name="directions" ngModel required></ion-textarea>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Add a private notes</ion-label>
          <ion-textarea rows="2" auto-grow name="notes" ngModel ></ion-textarea>
        </ion-item>
  
        <ion-button [disabled]="form.invalid" expand="block">Add</ion-button>
      </form>
    </div>
  
</ion-content>
