<ion-content >
  <ion-card style="width: 50%;margin: 0 auto; margin-top: 35px;">
    <div >
      <img src="assets/img/cookbookLogo.png" />
    </div>  
  </ion-card>

  <ion-card style="margin-top: 40px;">
    <ion-card-header>
      <ion-title>Register</ion-title>
    </ion-card-header>
    <ion-card-content>
      <form class="form" #form="ngForm" (ngSubmit)="tryRegister(form.value)">

        <ion-item>
          <ion-label position="floating" color="primary">Email</ion-label>
          <ion-input type="email" name="email" ngModel required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Password</ion-label>
          <ion-input type="password" name="password" ngModel required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Confirm Password</ion-label>
          <ion-input type="password" name="password2" ngModel required></ion-input>
        </ion-item>

        <ion-button class="submit-btn" type="submit" expand="block" [disabled]="!form.valid">Register</ion-button>
        <label class="error-message">{{errorMessage}}</label>
        <label class="success-message">{{successMessage}}</label>
      </form>
      
      <p style="margin-left: 10px;">Already have an account? <a routerLink="/login">Try to Log In.</a></p>
    </ion-card-content>
  </ion-card>    

</ion-content>